{% extends 'common.html' %}

{% block title %} ログイン {% endblock %}

{% block content %}
<nav class="navbar"></nav>
<div class="card mt-5 col-md-6 offset-md-3">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="card-body">
            <h3 class="card-title text-center">College BBS</h3>
            {% if form.errors %}
            <p class="text-danger">認証に失敗しました。</p>
            {% endif %}
            <div class="form-group">
                {{ form.username.label_tag }}
                <input class="form-control" type="text" name="username" required="" id="id_username" autofocus="">
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                <input class="form-control" type="password" name="password" required="" id="id_password">
            </div>
            <input name="next" type="hidden" value="{{ next }}"/>
            <button type="submit" class="btn btn-primary">ログイン</button>
        </div>
    </form>
</div>
{% endblock content %}
