{% extends 'common.html' %}

{% block topbar %}
<!-- TopBar (Not logged in) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">WB</a>
    <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {% if board.owner == user %}
                    <a class="dropdown-item" 
                       href="{% url 'create_article' user.username board.id %}">
                        おしらせを作成
                    </a>
                    <a class="dropdown-item" 
                       href="#">
                        _ボード設定
                    </a>
                    {% endif %}
                    <a class="dropdown-item" href="#">_アカウント設定</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="{% url 'logout' %}">
                       ログアウト
                    </a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">ログイン</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock topbar %}
