{% extends 'board/base.html' %}

{% block title %} {{ board.name }} {% endblock %}

{% block content %}
{% if articles %}
{% for article in articles %}

{% if not forloop.first %}
<hr>
{% endif %}

<span class="text-muted">{{ article.updated_at | date:'Y年n月j日(D) H:i' }}</span>
<div class="card offset-1 mt-1 mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ article.subject }}</h5>
        <p class="card-text">{{ article.body | linebreaksbr }}</p>
        
        {% if board.owner == user %}
        <form method="POST" action="{% url 'archive_article' user.username board.id article.id %}">
            {% csrf_token %}
            <a class="card-link btn btn-outline-success" href="{% url 'edit_article' user.username board.id article.id %}" role="button" >
                編集
            </a>
            <input class="btn btn-outline-dark card-link" type="submit" value="非表示">
        </form>
        {% endif %}

    </div>
</div>
{% endfor %}

{% else %}
<p class="mt-3">掲示中の連絡はありません。</p>
{% endif %}

{% endblock content %}
